type: drive
scope: drive.appfolder
root_folder_id: appDataFolder
token: {"access_token":"ya29.a0AS3H6NxgVhwrBEspMYl-GTTHnkchdQLYT4gHVXIRuqSSP7NaTQBKOR01hioQKekdCW2xnhcUbhEPF7kkPDQNFPAw8dSh7hGl1OQanuC-gyfWNRCBkDlmHmvIt2LaUXrKgQihGZGrL1sLnUC0RaCDnu8rMu5xMyBslX1VjHMYaCgYKAVASARcSFQHGX2MiSatRtpdfQZS-4AYDPWUHNA0175","token_type":"Bearer","refresh_token":"1//0gulqO3H4FRKUCgYIARAAGBASNwF-L9Ir_CnBeW1uafc-18g30KE_UfXVyGz5n4S_g7V-QBzJ5pm-ejEEArxt3a0yRsiLMeQaDFc","expiry":"2025-07-01T19:49:23.821022+05:30","expires_in":3599}
team_drive:
